src/main/mule/git-newclasswork.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8c68c24-2b89-4736-b8da-e75d1aa6b6f6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="git-newclassworkFlow" doc:id="9360a680-86f1-437d-aafa-33dc1c6d57a1" >
		<http:listener doc:name="Listener" doc:id="f246dd34-e373-41c5-bb00-506718784cd2" config-ref="HTTP_Listener_config" path="/git"/>
		<logger level="INFO" doc:name="Logger" doc:id="a1407e6d-ecb8-4ae8-91ae-a061764f9960" message="Hello everyone!"/>
		<set-payload value='#[" hello everyone"]' doc:name="Set Payload" doc:id="23bff47c-f5a0-4143-9499-32a7c5b641e8" />
	</flow>
</mule>
